<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jooff.shuyi">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".common.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service android:name=".service.CopyTranslateService"/>

        <activity
            android:launchMode="singleInstance"
            android:name=".translate.quick.QuickTransView"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:theme="@style/CopyDialog">
            <intent-filter>
                <action android:name="com.example.jooff.share"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>

        <activity
            android:launchMode="singleInstance"
            android:name=".translate.copy.CopyTransView"
            android:theme="@style/CopyDialog">
            <intent-filter>
                <action android:name="com.example.jooff.quick"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>